img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -170px;
	width: 311px;
	height: 303px;

}

body {
    background-image: url("Background.png");
}

form{
	text-align: center;
	margin: 0 auto;
	width: 420px;
	height: 340px;
	border: 1px #DED5B3;
	border-radius:10px;
	margin-top: 150px;
    background: #c9b7a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
    background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
}

#form input[type=Username]{
    border: 1px solid #c9b7a2;
	margin: 0 auto;
	width: 300px;
	height: 40px;
	border-radius:10px;
    background: #e4d5c3;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
}

#form input[type=Password]{
	border: 1px solid #c9b7a2;
	margin: 0 auto;
	width: 300px;
	height: 40px;
	border-radius:10px;
    background: #e4d5c3;
/*    margin-bottom:40px;*/
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
}

#form select[id=Person_Select]{
    border: 1px solid #c9b7a2;
	margin: 0 auto;
	width: 300px;
	height: 30px;
	border-radius:5px;
    background: #e4d5c3;
    margin-bottom:20px;
    margin-top: 10px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
}

#form input[type=Username]:focus{
	background: #fff;
}

#form input[type=Password]:focus{
	background: #fff;
}

#form label[type=Username]{
	font-family:Sylphie DEMO;
	color:#846B4C;
  	margin-right: 250px;
  	margin-top:30px;
    display:inline-block;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
}

#form label[type=Password]{
	font-family:Sylphie DEMO;
	color:#846B4C;
  	margin-right: 250px;
  	margin-top:5px;
    display:inline-block;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
}

#form label[type=Singin]{
	font-family:Sylphie DEMO;
	color:#846B4C;
  	margin-top:20px;
  	font-size:25px;
    display:inline-block;
    text-shadow: 1px 1px 1px rgba(255,255,255,.4);
}


.submit-button{
	font-family:Sylphie DEMO;
	font-size:15px;
	color:#468C00;
	width: 140px;
	height: 42px;
	border:1px solid #1A6600;
	background: #6aa436;
    border-radius:10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
}

.submit-button:hover {
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
}
.submit-button:active {
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
}