@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


body {
    background-image:   url("Background.png");
}

.topbar{
    display: table;
    position: fixed;
    width:3000px;
    height:80px;
    left: -20px;
    top: -16px;
    bottom: 1000px;
    background-color: #32556B;
    opacity: 0.4;
    border-bottom: 1px solid #ffffff;

}

.menu{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -110px;
    right: 0px;
    width: 110px;
    position: 30px;
    height: 100%;
    background: #333;
    transition: left 0.5s ease;
    -webkit-transition : left 0.5s ease;
    -moz-transition: left 0.5s ease;
}

ul{
    margin-top: 400px;
    list-style-type: none;
}

li {
    color: rgba(255,255,255,0.8);
    font-family: "Ubuntu",sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: -5px;
    cursor: pointer;
    text-decoration: none;
}

li:hover{
    color: rgba(255,255,255,1);
}

a:link{
    text-decoration: none;
}
    

.toggle{
    right: 30px;
    top: 7px;
    position: fixed;
    text-decoration: none;
    font-size: 50px;
    color: white;
}

.toggle:hover{
    color: #B9B9C8;
}


.bc{
    overflow-x:hidden;
    position: relative;
    left:0px;
    transition: left 0.5s ease;
    -webkit-transition : left 0.5s ease;
    -moz-transition: left 0.5s ease;
}

.menu-open{
    left:110px;
}

.menu-open .menu{
    left:0px;
}


.singout{
    background-color:transparent;
    border: 3px solid #ffffff;
    width: 100px;
    height: 40px;
    position: fixed;
    right: 80px;
    top:15px;
    font-family: Quicksand;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


.singout:hover{
    border: 3px solid #B9B9C8;
    color:#B9B9C8;
}


.first_line{
    position: relative;
    top:200px;
    left: 100px;
    border: 0;
    height: 1px;
    width: 500px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image:    -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image:     -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image:      -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


.edit_lable{
    position: relative;
    top: 150px;
    left: 230px;
    font-family: Franklin Gothic Medium;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}


.Edit{
    position: relative;
    top: 180px;
    left: 230px;
    height: 150px;
	width: 350px;
	z-index: 2;
}

.Edit input[type=text]{
    width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    margin-top: 10px;
}


.Edit input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.Edit input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.Edit input[type=button]:hover{
	opacity: 0.8;
}

.Edit input[type=button]:active{
	opacity: 0.6;
}

.Edit input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.Edit input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.Edit input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.infobox{
    border: 1px;
    border-color: azure;
    border-style: dotted;
    position: relative;
    top:6px;
    left:700px;
    height: 300px;
    width: 500px;
    
}

